<hr />
				<footer>
					<p>
						<a href="http://360.avosapps.com/" target="_blank">V5管理系统</a>2015</p>
				</footer>
		</div>
	</body>
	<script src="/javascripts/jquery.js"></script>
	<script src="./bootstrap/dist/bootstrap.js"></script>

</html>